html {
  max-width: 100%;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  /* overflow: auto; */
  /* min-height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-header {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

article {
  margin: auto;
}

.article-result {
  margin-top: 2rem;
}

.nav-header, .nav-links {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}


.article-header {
  display: flex;
  margin-bottom: 1rem;
}

.article-header-right {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.article-header > h6 {
  margin-bottom: 0.5rem;
}

.article-header-modes, .article-header-nav {
  display: flex;
  justify-content: flex-start;
}

.article-header-controls-temperature {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-header-controls-temperature > h6 {
  --typography-spacing-vertical: 0rem;
}

.article-header-controls-engine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  
}

.article-header-controls-engine-row, .prompt-body-content, .result-footer {
  display: flex;
}
.article-header-left, .article-header-controls-engine-row > div {
  width: 50%;
}

.engine-heading {
  border-bottom: 0!important;
  font-weight: 600;
}

.engine-heading:hover {
  color: gray;
}

header > h1 {
  font-size: 32px;
  font-weight: 700;
  --typography-spacing-vertical: 0rem;
}

header > h2 {
  font-size: 20px;
  font-weight: 500;
  color: #73828c;
  --typography-spacing-vertical: 0.7rem;
}

li > p {
  font-size: 24px;
}

article > ul {
  margin: 0 2rem;
}

article > h1 {
  margin-left: 2rem;
}

article > button {
  background-color: #141e26;
  border-color: #141e26;
}

footer > button {
  width: 10rem;
  margin: auto;
}

.button-override-link {
  background: none!important;
  border: none;
  padding: 0!important;
  margin-bottom: 0!important;
  /*optional*/
  /*input has OS specific font-family*/
  color: #1095c1;
  /* text-decoration: underline; */
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  width: 6rem;
  /* --typography-spacing-vertical: 0rem; */
}

.button-override-link:hover, .fa-icon:hover {
  color: #1ab3e6;
  text-decoration: underline;
}

.fa-icon {
  font-size: 24px;
  height: 100%;
}

.linkedin {
  margin-left: 1.5rem;
}

.prompts-tab {
  width: 11rem;
  margin: 0 0.5rem;
}

.secondary {
  color: #fefefe99;
}

textarea {
  width: 100%;
  height: 12rem;
}

section {
  margin-bottom: 0;
}

section > button {
  width: 49%;
}

h6 {
  font-weight: 600;
  --typography-spacing-vertical: 0.1rem;
}

.prompt-headings {
  display: flex;
  margin-bottom: 0.5rem;
}

.heading-suggestions {
  padding-left: 5px;
}

.suggestions-row-1, .suggestions-row-2 {
  display: flex;
  justify-content: space-between;
}

.suggestions-row-1 {
  margin: 1rem 0;
}

.suggestions {
  width: 100%;
  margin-left: 1rem;
}

.suggestion-button {
  width: 9rem;
  height: 4rem;
}

.results-list {
  padding: 0;
}

.result-body {
  display: flex;
  margin-bottom: 0;
}

.result-body > p {
  width: 80%;
  margin-bottom: 0;
}

.result-body > h6, .result-footer > h6 {
  width: 20%;
}

.result-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.result-header > p {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

.result-footer > p {
  width: 80%;
}

.modes {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.tooltip {
  border-bottom: 0!important;
}

.section-header-left {
  width: 50%;
}

.section-header-right {
  width: 50%;
}

select {
  text-align: center;
}

.OCR-mode-body {
  display: flex;
  height: 100%;
  align-items: center;
}

.OCR-mode-upload {
  height: 250px;
}

.OCR-mode-upload > form {
  margin-bottom: 0;
}

.OCR-mode-upload, .OCR-mode-text {
  width: 50%;
}

.OCR-mode-text > p {
  margin-bottom: 0;
}

.imageUpload {
  width: 55%!important;
}

.alert-upload-error {
  width: 85%;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.721);
  padding: 20px;
  text-align: center;
}

.alert-prompt-error {
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.721);
  padding: 15px 20px 20px 20px;
  text-align: center;
  margin-top: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1440px) {

  .header-header, article, .article-result {
    width: 1296px;
  }

  .header-header {
    margin-bottom: 2.5rem;
  }

  textarea, #submit {
    width: 97%
  }

  .suggestions {
    margin-left: 0.5rem;
  }

  #engines-select {
    display: none;
  }

}

@media (min-width: 1140px) and (max-width: 1439px) {

  .header-header, article, .article-result {
    width: 1026px;
  }

  .header-header {
    margin-bottom: 2rem;
  }

  .article-header-left {
    width: 40%;
  }

  .article-header-right {
    width: 60%;
    margin-left: 1.5rem;
  }

  .prompts-tab {
    height: 4rem;
  }

  button {
    display: inline-flex;
    align-items: center;
  }

  #Q\&A, #Ads, #submit {
    display: block;
  }

  #about-link {
    padding-left: 1.4rem!important;
  }

  #submit {
    width: 95%;
  }

  #engines-select {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  textarea {
    width: 95%;
  }

  .suggestions {
    margin-left: 0;
  }

  .alert-prompt-error {
    margin: 22px 0 0 0;
  }

}

@media (min-width: 992px) and (max-width: 1139px) {

  .header-header, article, .article-result {
    width: 756px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-bottom: 2rem;
  }

  .article-header-modes {
    flex-direction: column;
    gap: 0.5rem;
  }

  .article-header-left {
    width: 33%;
  }

  .article-header-right {
    width: 67%;
  }

  #Product\ Name, #Micro-Horror, #Essay\ Outline {
    font-size: 16px;
  }

  #Mood\ to\ Colour {
    font-size: 14px;
  }

  #babbage-label {
    margin-right: 0;
  }

  .article-header-controls-engine {
    justify-content: flex-start;
    gap: 1rem;
  }

  .prompts-tab {
    margin-left: 0;
  }

  #submit {
    width: 95%;
  }

  #engines-select {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  textarea {
    width: 95%;
  }

  .suggestions {
    margin-left: 0;
  }

  .alert-prompt-error {
    font-size: 16px;
  }

}


@media (min-width: 840px) and (max-width: 991px) {

  .header-header, article, .article-result {
    width: 756px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-bottom: 2rem;
  }

  .article-header-modes {
    flex-direction: column;
    gap: 0.5rem;
  }

  .article-header-left {
    width: 33%;
  }

  .article-header-right {
    width: 67%;
  }

  #Product\ Name, #Micro-Horror, #Essay\ Outline {
    font-size: 16px;
  }

  #Mood\ to\ Colour {
    font-size: 14px;
  }

  #submit {
    width: 95%;
  }

  .article-header-controls-engine {
    justify-content: flex-start;
    gap: 1rem;
  }

  #engines-select {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  textarea {
    width: 95%;
  }

  .suggestions {
    margin-left: 0;
  }

}

@media (min-width: 700px) and (max-width: 839px) {

  .header-header, article, .article-result {
    width: 700px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  header > h2 {
    font-size: 17px;
  }

  .article-header-modes {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .article-header-left {
    width: 45%;
  }

  .article-header-right {
    width: 55%;
  }

  #Product\ Name, #Micro-Horror, #Essay\ Outline {
    font-size: 16px;
  }

  #Mood\ to\ Colour {
    font-size: 14px;
  }

  .prompts-tab {
    width: 13rem;
  }

  .article-header-controls-engine {
    justify-content: flex-start;
    gap: 0.8rem;
  }

  .article-header-controls-engine-row {
    flex-direction: column;
    gap: 0.8rem;
  }

  .article-header-controls-engine-row > div {
    width: 100%;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #submit {
    width: 95%;
  }

  #engines-select {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  textarea {
    width: 95%;
  }

  .suggestions {
    margin-left: 0;
  }

  .alert-prompt-error {
    height: 54px;
    font-size: 16px;
  }

}

@media (min-width: 609px) and (max-width: 699px) {

  .header-header, article, .article-result {
    width: 590px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .article-header-left > .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 95%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #Essay\ Outline {
    font-size: 16px;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  .alert-prompt-error {
    height: 51px;
    font-size: 13px;
    margin-left: 3px;
    margin-top: 15px;
  }

}

@media (min-width: 500px) and (max-width: 608px) {

  .header-header, article, .article-result {
    width: 465px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 100%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #Essay\ Outline {
    font-size: 16px;
  }

  .prompt-headings {
    flex-direction: column-reverse;
  }

  .section-header-left, .section-header-right {
    width: 100%;
  }

  .section-header-right {
    margin-bottom: 1.25rem;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

  .alert-prompt-error {
    margin-left: 3px;
  }

}

@media (min-width: 426px) and (max-width: 499px) {

  .header-header, article, .article-result {
    width: 415px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 100%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #Essay\ Outline {
    font-size: 16px;
  }

  .prompt-headings {
    flex-direction: column-reverse;
  }

  .section-header-left, .section-header-right {
    width: 100%;
  }

  .section-header-right {
    margin-bottom: 1.25rem;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .imageUpload {
    width: 85%!important;
  }

}

@media (min-width: 376px) and (max-width: 425px) {

  .header-header, article, .article-result {
    width: 376px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 100%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #Essay\ Outline {
    font-size: 16px;
  }

  .prompt-headings {
    flex-direction: column-reverse;
  }

  .section-header-left, .section-header-right {
    width: 100%;
  }

  .section-header-right {
    margin-bottom: 1.25rem;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .result-body, .result-footer {
    flex-direction: column;
  }

  .result-body > h6, .result-body > p, .result-footer > h6, .result-footer > p {
    width: 100%;
  }

  .result-body > h6, .result-footer > h6 {
    text-align: center;
  }

  .result-header {
    justify-content: flex-start;
    gap: 1rem;
  }

  .imageUpload {
    width: 85%!important;
  }

  #modal-about > article > h1 {
    font-size: 24px;
  }

  #modal-about > article > ul > li > p {
    font-size: 16px;
  }

}

@media (min-width: 321px) and (max-width: 375px) {

  .header-header, article, .article-result {
    width: 320px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 100%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 14px;
  }

  #Essay\ Outline {
    font-size: 16px;
  }

  .prompt-headings {
    flex-direction: column-reverse;
  }

  .section-header-left, .section-header-right {
    width: 100%;
  }

  .section-header-right {
    margin-bottom: 1.25rem;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .nav-header {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.75rem;
  }

  .nav-header > h1 {
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
  }

  .nav-links {
    justify-content: center;
    margin-right: 1.2rem;
  }

  .result-body, .result-footer {
    flex-direction: column;
  }

  .result-body > h6, .result-body > p, .result-footer > h6, .result-footer > p {
    width: 100%;
  }

  .result-body > h6, .result-footer > h6 {
    text-align: center;
  }

  .imageUpload {
    width: 75%!important;
    margin-left: 0.6rem;
  }

  .OCR-mode-upload {
    height: 300px;
  }

  form > div > h6 {
    margin-right: 1.2rem;
  }

  .alert-prompt-error {
    font-size: 14px;
  }

  #modal-about > article > h1 {
    font-size: 24px;
  }

  #modal-about > article > ul > li > p {
    font-size: 16px;
  }

}

@media (min-width: 275px) and (max-width: 320px) {

  .header-header, article, .article-result {
    width: 275px;
  }

  header > h2 {
    font-size: 17px;
  }

  .header-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .article-header {
    flex-direction: column;
  }

  .article-header-left, .article-header-right {
    width: 100%;
  }

  .modes {
    justify-content: center;
  }

  .modes {
    margin-bottom: 1rem;
  }

  .article-header-modes {
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .article-header-controls-engine, .article-header-controls-temperature {
    align-items: center;
  }
  
  .article-header-controls-engine-row {
    width: 100%;
    padding-left: 2rem;
  }

  .prompts-tab {
    width: 16rem;
  }

  textarea, #submit {
    width: 100%;
  }

  .suggestions {
    margin-left: 0.2rem;
  }

  .grid {
    grid-column-gap: 0.3rem;
  }

  .suggestion-button {
    height: 5.9rem;
  }

  .suggestions-row-1 {
    margin: 0;
  }

  button {
    margin-bottom: 0.2rem;
  }

  #Product\ Name {
    font-size: 11px;
  }

  #Essay\ Outline {
    font-size: 13px;
  }

  #Mood\ to\ Colour, #Micro-Horror {
    font-size: 14px;
  }

  .prompt-headings {
    flex-direction: column-reverse;
  }

  .section-header-left, .section-header-right {
    width: 100%;
  }

  .section-header-right {
    margin-bottom: 1.25rem;
  }

  .article-header-controls-engine-row {
    display: none;
  }

  .nav-header {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.75rem;
  }

  .nav-header > h1 {
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
  }

  .nav-links {
    justify-content: center;
    margin-right: 1.2rem;
  }

  .result-body, .result-footer {
    flex-direction: column;
  }

  .result-body > h6, .result-body > p, .result-footer > h6, .result-footer > p {
    width: 100%;
  }

  .result-body > h6, .result-footer > h6 {
    text-align: center;
  }

  .result-header > p {
    font-size: 18px;
  }

  .imageUpload {
    width: 85%!important;
  }

  .OCR-mode-upload {
    height: 400px;
  }

  form > div > h6 {
    margin-right: 0.7rem;
  }

  .alert-prompt-error {
    font-size: 14px;
    padding-top: 8px;
  }

  #modal-about > article > h1 {
    font-size: 22px;
  }

  #modal-about > article > ul > li > p {
    font-size: 14px;
  }

}